<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {background-color: powderblue;}
#myFrom{
    float: top;
}
h1 {
    color: orangered;
}

</style>
</head>
<body>


<form id = "myFrom" method="post" action="">
    <h1>Add new location, hotel , price in your DATABASE (csv file)</h1>
    <p>after yoou enter new data press f5 to refresh and you will see new data in table on your left</p>
    <input type="text" name="hotel" placeholder="Hotel"/><br><br>
    <input type="text" name="location" placeholder="Location"/><br><br>
    <input type="text" name="price" placeholder="Price"/><br><br>
    <br>
    <input type="submit" name="sub" value="Submit"/>
</form>

<div class="div">{{ html_file3 }}</div>>

</body>
</html>