<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

     <header>
        <div>
            <h1>DREAM VACATION</h1>
            <h3><em>Follow this steps to find your dream vacation: </em></h3>
        </div>
    </header>
</head>

<body>
<form method="post" action="/index">
    <input type="text" name="first" placeholder="First name"/><br><br>
    <input type="text" name="last" placeholder="Last name"/><br><br>
    <input type="number" name="age" placeholder="Age"/><br><br>
    <input type="number" name="passenger" placeholder="Number of passengers "/><br><br>
    <br><br>
    <input type="submit" name="sub" value="Submit"/>
</form>

</body>
</html>